html {
    height: 100%;
}

body {
    min-height: 100%;
}

/* ---------------------------------------------base.html*/
/* ---------------------------------------------Navbar*/
.navbar {
    background-color: #3c1642;
}

.navbar-brand {
    color: #affc41;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav li a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.fa-bars {
    color: #affc41;
    margin: auto;
}

.btn-outline-success {
    color: #affc41;
}

.search-bt {
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------footer*/
footer {
    text-align: center;
    padding: 3px;
    background-color: #3c1642;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a:link,
footer a:visited {
    background-color: #3c1642;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

footer a:hover,
footer a:active {
    background-color: #affc41;
    color: #3c1642;
}

/* ---------------------------------------------Flash messages*/
.flashes h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #affc41;
}

/* ---------------------------------------------Home page*/
.hiw-head {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hiw-card {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hiw-card-body {
    background-color: #affc41;
}

/* The hero image */
.hero-image {
    background: url("/static/images/italian.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 350px;
    width: 100%;
    margin: 0;
}

/* ---------------------------------------------Registration/login page*/
.card {
    margin: 5px;
}

.card-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.card-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.register-btn {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: #3c1642;
}

.register-a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.register-a a:link,
.register-a a:visited {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #3c1642;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.register-a a:hover,
.register-a a:active {
    background-color: #affc41;
    color: #3c1642;
}

/* ---------------------------------------------Profile page*/
.profile {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------Recipes page*/
.recipes-heading {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

.row a {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.no-bullets {
    list-style-type: none;
}

.list-group a {
    background-color: #affc41;
}

/* ---------------------------------------------View recipe page*/
.table,
th,
td {
    border: 1px solid black;
}

.act-btns {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.act-btn {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.act-btns a {
    text-align: center;
}

/* ---------------------------------------------Add a recipe page*/
.add-recipe {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------Products page*/
.prod-head {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}