/* ---------------------------------------------base.html*/
/* ---------------------------------------------Navbar*/
.navbar {
    background-color: #3c1642;
}

.navbar-brand {
    color: #affc41;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav li a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.fa-bars {
    color: #affc41;
    margin: auto;
}

.btn-outline-success {
    color: #affc41;
}

.search-bt {
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3c1642;
  color: white;
  text-align: center;
}

/* ---------------------------------------------Flash messages*/
.flashes h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #affc41;
}

/* ---------------------------------------------Home page*/
.hiw-head {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hiw-card {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hiw-card-body {
    background-color: #affc41;
}

.hero-image {
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

/* ---------------------------------------------Registration/login page*/
.card {
    margin: 5px;
}

.card-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.card-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.register-btn {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: #3c1642;
}

.register-a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------Profile page*/
.profile {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------Recipes page*/
.row a {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.no-bullets {
    list-style-type: none;
}

/* ---------------------------------------------Add a recipe page*/
.add-recipe {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}