{% extends "base.html" %}
{% block content %}

<div>
    <h3 class="add-recipe">Edit recipe</h3>
</div>

<div class="row">
    <form class="col s12" method="post" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="row">
            <div class="mb-3">
                <label for="recipe_name" class="form-label">Recipe name</label>
                <input type="text" class="form-control" id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                    value="{{ recipe.recipe_name }}" required>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="cuisine_type" class="form-label">Cuisine type</label>
                <input type="text" class="form-control" id="cuisine_type" name="cuisine_type" minlength="3"
                    maxlength="20" value="{{ recipe.cuisine_type }}" required>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="recipe_ingredients" class="form-label">Ingredients</label>
                <input type="text" class="form-control" id="recipe_ingredients" name="recipe_ingredients" minlength="5" maxlength="200"
                    value="{{ recipe.recipe_ingredients }}" required>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="recipe_description" class="form-label">Description</label>
                <input type="text" class="form-control" id="recipe_description" name="recipe_description" minlength="3"
                    maxlength="200" value="{{ recipe.recipe_description }}" required>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="recipe_preparation" class="form-label">Preparation</label>
                <input type="text" class="form-control" id="recipe_preparation" name="recipe_preparation" minlength="5" maxlength="200"
                    value="{{ recipe.recipe_preparation }}" required>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="cooking_time" class="form-label">Cooking time</label>
                <input type="text" class="form-control" id="cooking_time" name="cooking_time" minlength="3"
                    maxlength="20" value="{{ recipe.cooking_time }}" required>
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="serving_size" class="form-label">Serving size</label>
                <input type="text" class="form-control" id="serving_size" name="serving_size"
                    value="{{ recipe.serving_size }}" required>
            </div>
        </div>
        <div class="row">
            <div class="form-check form-switch">
                <i class="fas fa-seedling" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Recipe is suitable for vegans"></i>
                  {% if recipe.is_vegan == "on" %}
                                <input class="form-check-input" type="checkbox" id="is_vegan" name="is_vegan" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="is_vegan" name="is_vegan">
                            {% endif %}
                <label class="form-check-label" for="is_vegan">Check switch if recipe is suitable for vegans</label>
            </div>
        </div>
        <div class="row act-btns">
            <button type="submit" class="act-btn btn btn-primary">Edit Recipe</button>
            <a href="{{ url_for('get_recipes') }}" class="act-btn btn btn-primary">Cancel edit</a>
        </div>
    </form>
</div>

{% endblock %}