{% extends "base.html" %}
{% block content %}

<div class="row">
    <h3 class="prod-head">Cooking products</h3>
    <h5 class="prod-head">Please purchase your cooking products from our partners 
        below as we will recieve a referral fee that will go towards the upkeep of this application.</h5>
    <div class="col-sm-4 hiw-card">
        <div class="card">
            <div class="card-body hiw-card-body">
                <h5 class="card-title">Pots and pans</h5>
                <p class="card-text">Search through the great selection of pots and pans that will improve your coking experience.</p>
                <a href="https://www.amazon.com/s?k=cooking+pots" target="_blank" class="btn btn-primary">Search</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 hiw-card">
        <div class="card">
            <div class="card-body hiw-card-body">
                <h5 class="card-title">Cooking knives</h5>
                <p class="card-text">Search through the huge selection of cooking knives that will aid your food preparation.</p>
                <a href="https://www.amazon.com/s?k=knives" target="_blank" class="btn btn-primary">Search</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 hiw-card">
        <div class="card">
            <div class="card-body hiw-card-body">
                <h5 class="card-title">Cooking utensils</h5>
                <p class="card-text">Search through the selection of general cooking utensils that will ease your workload.</p>
                <a href="https://www.amazon.com/s?k=cooking+utensils" target="_blank" class="btn btn-primary">Search</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}