<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Pea Pod</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.cuisine_type }}<br>
        {{ recipe.recipe_ingredients }}<br>
        {{ recipe.recipe_description }}<br>
        {{ recipe.recipe_preparation }}<br>
        {{ recipe.cooking_time }}<br>
        {{ recipe.serving_size }}<br>
        {{ recipe.recipe_author }}<br>
        {{ recipe.recipe_date }}<br>
        {{ recipe.is_vegan }}<br>
    {% endfor %}
</body>
</html>