{% extends "base.html" %}
{% block content %}

{% for recipe in recipes %}
{{ recipe.recipe_name }}<br>
{{ recipe.cuisine_type }}<br>
{{ recipe.recipe_ingredients }}<br>
{{ recipe.recipe_description }}<br>
{{ recipe.recipe_preparation }}<br>
{{ recipe.cooking_time }}<br>
{{ recipe.serving_size }}<br>
{{ recipe.recipe_author }}<br>
{{ recipe.recipe_date }}<br>
{{ recipe.is_vegan }}<br>
{% endfor %}

<ul class="no-bullets">
    {% for recipe in recipes %}
    <li>
        <p class="row">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-angle-down"></i> <strong>{{ recipe.recipe_name }}</strong> 
                {% if recipe.is_vegan == "true" %}
                    <i class="fas fa-seedling" data-bs-toggle="tooltip" data-bs-placement="right" title="Recipe is suitable for vegans"></i>
                {% endif %}
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ recipe.recipe_description }}
                <button class="btn btn-outline-success" type="submit">Go to recipe</button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}