{% extends "base.html" %}
{% block content %}

<form class="card border-dark" method="POST" action="{{ url_for('register') }}">
    <div class="card-header">Registration page</div>
    <div class="card-body text-dark">
        <h5 class="card-title">JOIN OUR POD</h5>
        <h6 class="card-title">Username/password must be 6-12 characters long using letters and numbers only with no spaces</h6>
        <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="username"
                pattern="^[a-zA-Z0-9]{6,12}$" minlength="6" maxlength="12" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="password"
                pattern="^[a-zA-Z0-9]{6,12}$" minlength="6" maxlength="12" required>
            </div>
        </div>
        <div class="register-btn">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </div>
    </div>
</form>

<div class="row register-a">
    <div class="col s12">
        <p>
            If you are already registered please log in.
            <a href="{{ url_for('login') }}">Log in here</a>
        </p>
    </div>
</div>

{% endblock %}