{% for recipe in recipes %}
{{ recipe.recipe_name }}<br>
{{ recipe.cuisine_type }}<br>
{{ recipe.recipe_ingredients }}<br>
{{ recipe.recipe_description }}<br>
{{ recipe.recipe_preparation }}<br>
{{ recipe.cooking_time }}<br>
{{ recipe.serving_size }}<br>
{{ recipe.recipe_author }}<br>
{{ recipe.recipe_date }}<br>
{{ recipe.is_vegan }}<br>
{% endfor %}


{% extends "base.html" %}
{% block content %}
<h3>This is the view recipe page</h3>
<form class="card border-dark">
    <div class="card-header">
        <h3>Recipe name</h3>
    </div>
    <div class="card-body text-dark">
        <h6 class="card-title">Recipe Author</h6>
        <table style="width:100%">
            <tr>
                <th>Cuisine type</th>
                <th>Cooking time</th>
                <th>Serves</th>
            </tr>
            <tr>
                <td>Example text</td>
                <td>Example text</td>
                <td>Example text</td>
            </tr>
        </table>
        <p>Recipe preparation steps</p>
        <div class="row edel-btns">
            <button type="submit" class="edit-btn btn btn-primary mb-3">Edit recipe</button>
            <button type="submit" class="delete-btn btn btn-primary mb-3">Delete recipe</button>
        </div>
    </div>
</form>

{% endblock %}