{% extends "base.html" %}
{% block content %}
<h3>This is the view recipe page</h3>
<form class="card border-dark">
    <div class="card-header">
        <h3>{{ recipe.recipe_name }}</h3>
    </div>
    <div class="card-body text-dark">
        <h6 class="card-title">{{ recipe.recipe_author }}</h6>
        <table style="width:100%">
            <tr>
                <th>Cuisine type</th>
                <th>Cooking time</th>
                <th>Serves</th>
            </tr>
            <tr>
                <td>{{ recipe.cuisine_type }}</td>
                <td>{{ recipe.cooking_time }}</td>
                <td>{{ recipe.serving_size }}</td>
            </tr>
        </table>
        <h6>Ingredients</h6>
        <p>{{ recipe.recipe_ingredients }}</p>
        <h6>Preparation steps</h6>
        <p>{{ recipe.recipe_preparation }}</p>
        <div class="row edel-btns">
            {% if session.user|lower == recipe.recipe_author|lower %}
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="act-btn btn btn-primary">Edit recipe</a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="act-btn btn btn-primary">Delete recipe</a>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}